<div class="jarvis-single-select" [ngClass]="{ active: isActive }">
  <div (click)="toggleActive()" class="selection-container">
    <span class="select-item"
      >{{ selectedItem ? selectedItem.value : "" }}
    </span>
    <span class="material-icons icon-wrapper">{{
      !isActive ? "keyboard_arrow_down" : "keyboard_arrow_up"
    }}</span>
  </div>
  <div class="menu-drop" *ngIf="isActive" @enterAnimation>
    <div class="search">
      <input
        #search
        type="text"
        autoComplete="off"
        [(ngModel)]="searchText"
        name="jv-search-txt"
        id="jv-search-txt"
        (keydown)="keyDown($event)"
      />
    </div>
    <div class="menulist-result" #result>
      <div
        class="menulist"
        (click)="selectItem(item)"
        #menulist
        [class.active]="i === arrowkeyLocation"
        *ngFor="let item of data | filterPipe: searchText; let i = index; trackBy: trackByFn"
      >
        {{ item.value }}
      </div>
    </div>
  </div>
</div>
