<div class="jv-row">
  <div class="jv-col-md-3">
    <jv-single-select
      [data]="singleSelectData"
      [(selectedItem)]="selectedItem"
    ></jv-single-select>
    {{ selectedItem | json }}
  </div>
  <div class="jv-col-md-3">
    <jv-single-select></jv-single-select>
  </div>
</div>
<jv-input
  [(ngModel)]="name"
  [autofocus]="true"
  [label]="'First Name'"
  [placeholder]="'give a name'"
  [id]="'test'"
  [name]="'name'"
  [title]="'First Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  styleType="style1"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  styleType="style2"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style3'"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style5'"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style6'"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style7'"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style8'"
  [label]="'Last Name'"
></jv-input>
<jv-input
  [formControl]="name1"
  [autocomplete]="true"
  [required]="true"
  [styleType]="'style9'"
  [label]="'Last Name'"
></jv-input>
